html,
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;

  a {
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}

* {
  font-family: 'Roboto', sans-serif;
}
