.navbar {
  padding: 0.1em;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      display: inline-block;
      width: 33%;
    }
    .navbar-brand {
      margin-left: 5px;
      line-height: 40px;
    }
    .search-header {
      margin-right: 40px;
      width: 90%;
    }

    .fa-bars {
      color: #fff !important;
      font-size: 40px;
      margin-right: 10px;
    }

    .overlay-sidebar {
      position: fixed; /* Sit on top of the page content */
      // display: none; /* Hidden by default */
      width: 100%; /* Full width (cover the whole page) */
      height: 100%; /* Full height (cover the whole page) */
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
      z-index: 2;
      display: none;
      a {
        width: 100%; /* Full width (cover the whole page) */
        height: 100%;
        display: block;
      }
    }

    .sidebar-header {
      z-index: 999;
      position: fixed;
      top: 0;
      right: 0;
      background: #7386d5;
      height: 100%;
      width: 35%;
      overflow-y: scroll;
      display: none;

      * {
        color: #fff;
      }

      .close-sidebar {
        .fa-window-close-header {
          font-size: 40px;
          margin: 10px;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        li {
          width: 100%;
          a {
            display: block;
            font-size: 2em;
            padding: 10px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    .header {
      .sidebar-header {
        width: 80%;

        .close-sidebar {
          .fa-window-close-header {
            font-size: 40px;
            margin: 10px;
          }
        }

        ul {
          li {
            width: 100%;
            a {
              font-size: 2em;
            }
          }
        }
      }
    }
  }
}
