.delete-category {
  margin: 8px;
  & * {
    font-size: 30px;
  }
  .delete-suggestion {
    a {
      &:hover,
      &:visited,
      &:active,
      &:link {
        color: black;
        display: block;
      }
    }
  }
}
